# Ignorar a pasta bin onde ficam os executáveis
/bin/
/bin/*

# Ignorar arquivos objeto (geralmente .o)
/*.o
*.o

# Ignorar arquivos de módulos Fortran
/*.mod
*.mod

# Ignorar executáveis genéricos (ex: a.out)
/a.out
*.exe

# Ignorar backups do editor (opcional)
*~
*.bak

# Ignorar arquivos de log (se houver)
*.log